In [1]:
import pandas as pd
import datetime as DT
today = DT.date.today()
week_ago = today - DT.timedelta(days=7)

In [3]:
df = pd.read_csv('lunch_order.csv')
fooddata = pd.read_csv('FoodItemLookup.csv')

In [13]:
df

,order_id,user_id,timestamp,order_date,order_category,has_availed,item_id
0,0,1035,2020-03-05 15:20:26,2020-03-06,Lunch,1,2
1,1,1028,2020-03-05 15:42:26,2020-03-06,Lunch,1,1
2,2,1023,2020-03-05 15:43:26,2020-03-06,Lunch,1,2
3,3,1025,2020-03-05 16:10:26,2020-03-06,Lunch,1,0
4,4,1033,2020-03-05 18:03:26,2020-03-06,Lunch,1,2
...,...,...,...,...,...,...,...
2400,2400,1028,2020-06-12 07:42:26,2020-06-12,Lunch,1,1
2401,2401,1024,2020-06-12 07:59:26,2020-06-12,Lunch,1,0
2402,2402,1004,2020-06-12 08:07:26,2020-06-12,Lunch,1,2
2403,2403,1012,2020-06-12 08:15:26,2020-06-12,Lunch,1,0
2404,2404,1043,2020-06-12 08:32:26,2020-06-12,Lunch,1,0

In [9]:
df[df['user_id']== 1035].shape

(52, 7)

In [14]:
fooddata.shape

(15, 4)

In [15]:
newdata = pd.merge(df, fooddata, on='item_id')

In [140]:
currentDay = today.strftime('%Y-%m-%d')
prevWeek = week_ago.strftime('%Y-%m-%d')

In [144]:
testDate = DT.datetime.strptime('2020-06-11', '%Y-%m-%d')
testDate

datetime.datetime(2020, 6, 11, 0, 0)

In [145]:
testDate.strftime('%Y-%m-%d')

'2020-06-11'

In [53]:
isDate = ('2020-06-11' == newdata['timestamp'].str[:10]) | ('2020-06-05' == newdata['timestamp'].str[:10])

In [102]:
recData = newdata[isDate]
recData

,order_id,user_id,timestamp,order_date,order_category,has_availed,item_id,item_name,price,availability
276,2210,1007,2020-06-05 00:24:26,2020-06-05,Lunch,1,2,Veg Biryani,100,"1,3,4"
277,2212,1049,2020-06-05 01:44:26,2020-06-05,Lunch,1,2,Veg Biryani,100,"1,3,4"
278,2213,1048,2020-06-05 01:46:26,2020-06-05,Lunch,1,2,Veg Biryani,100,"1,3,4"
279,2215,1015,2020-06-05 03:32:26,2020-06-05,Lunch,1,2,Veg Biryani,100,"1,3,4"
280,2218,1012,2020-06-05 04:16:26,2020-06-05,Lunch,1,2,Veg Biryani,100,"1,3,4"
281,2219,1038,2020-06-05 05:19:26,2020-06-05,Lunch,1,2,Veg Biryani,100,"1,3,4"
282,2220,1047,2020-06-05 05:36:26,2020-06-05,Lunch,1,2,Veg Biryani,100,"1,3,4"
283,2221,1002,2020-06-05 05:39:26,2020-06-05,Lunch,1,2,Veg Biryani,100,"1,3,4"
290,2353,1019,2020-06-11 03:55:26,2020-06-11,Lunch,1,2,Veg Biryani,100,"1,3,4"
291,2360,1017,2020-06-11 15:47:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
292,2363,1027,2020-06-11 17:22:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
293,2365,1040,2020-06-11 17:44:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
294,2367,1002,2020-06-11 19:45:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
295,2369,1003,2020-06-11 21:03:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
296,2370,1023,2020-06-11 21:11:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
297,2372,1019,2020-06-11 21:15:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
298,2375,1029,2020-06-11 22:06:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
299,2376,1042,2020-06-11 22:28:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
300,2377,1011,2020-06-11 23:06:26,2020-06-12,Lunch,1,2,Veg Biryani,100,"1,3,4"
588,2211,1037,2020-06-05 00:26:26,2020-06-05,Lunch,1,1,Chicken fry combo,120,"1,3,4"
589,2216,1008,2020-06-05 03:47:26,2020-06-05,Lunch,1,1,Chicken fry combo,120,"1,3,4"
590,2217,1005,2020-06-05 03:50:26,2020-06-05,Lunch,1,1,Chicken fry combo,120,"1,3,4"
591,2224,1016,2020-06-05 07:44:26,2020-06-05,Lunch,1,1,Chicken fry combo,120,"1,3,4"
592,2227,1050,2020-06-05 08:19:26,2020-06-05,Lunch,1,1,Chicken fry combo,120,"1,3,4"
598,2351,1010,2020-06-11 03:03:26,2020-06-11,Lunch,1,1,Chicken fry combo,120,"1,3,4"
599,2364,1021,2020-06-11 17:26:26,2020-06-12,Lunch,1,1,Chicken fry combo,120,"1,3,4"
600,2366,1010,2020-06-11 18:11:26,2020-06-12,Lunch,1,1,Chicken fry combo,120,"1,3,4"
601,2368,1034,2020-06-11 20:45:26,2020-06-12,Lunch,1,1,Chicken fry combo,120,"1,3,4"
602,2371,1020,2020-06-11 21:14:26,2020-06-12,Lunch,1,1,Chicken fry combo,120,"1,3,4"
875,2214,1029,2020-06-05 03:23:26,2020-06-05,Lunch,1,0,Chicken Biryani,120,"1,3,4"
876,2222,1031,2020-06-05 06:08:26,2020-06-05,Lunch,1,0,Chicken Biryani,120,"1,3,4"
877,2223,1043,2020-06-05 06:33:26,2020-06-05,Lunch,1,0,Chicken Biryani,120,"1,3,4"
878,2225,1042,2020-06-05 08:06:26,2020-06-05,Lunch,1,0,Chicken Biryani,120,"1,3,4"
879,2226,1039,2020-06-05 08:15:26,2020-06-05,Lunch,1,0,Chicken Biryani,120,"1,3,4"
880,2228,1019,2020-06-05 08:44:26,2020-06-05,Lunch,1,0,Chicken Biryani,120,"1,3,4"
881,2229,1014,2020-06-05 08:47:26,2020-06-05,Lunch,1,0,Chicken Biryani,120,"1,3,4"
885,2354,1014,2020-06-11 04:00:26,2020-06-11,Lunch,1,0,Chicken Biryani,120,"1,3,4"
886,2356,1033,2020-06-11 04:42:26,2020-06-11,Lunch,1,0,Chicken Biryani,120,"1,3,4"
887,2361,1025,2020-06-11 15:52:26,2020-06-12,Lunch,1,0,Chicken Biryani,120,"1,3,4"
888,2362,1030,2020-06-11 16:14:26,2020-06-12,Lunch,1,0,Chicken Biryani,120,"1,3,4"
889,2373,1037,2020-06-11 21:17:26,2020-06-12,Lunch,1,0,Chicken Biryani,120,"1,3,4"
890,2374,1036,2020-06-11 21:18:26,2020-06-12,Lunch,1,0,Chicken Biryani,120,"1,3,4"
891,2378,1031,2020-06-11 23:51:26,2020-06-12,Lunch,1,0,Chicken Biryani,120,"1,3,4"
892,2379,1005,2020-06-11 23:55:26,2020-06-12,Lunch,1,0,Chicken Biryani,120,"1,3,4"
1099,2358,1025,2020-06-11 05:57:26,2020-06-11,Lunch,1,3,Meal combo,70,"0,1,2,3"
1381,2347,1036,2020-06-11 00:14:26,2020-06-11,Lunch,1,4,Roti non-veg combo,70,"0,1,2,3"
1382,2359,1016,2020-06-11 07:31:26,2020-06-11,Lunch,1,4,Roti non-veg combo,70,"0,1,2,3"
1753,2346,1044,2020-06-11 00:09:26,2020-06-11,Lunch,1,12,Roti veg combo,40,"0,1,2,3"
1754,2348,1015,2020-06-11 00:30:26,2020-06-11,Lunch,1,12,Roti veg combo,40,"0,1,2,3"
1755,2349,1037,2020-06-11 00:52:26,2020-06-11,Lunch,1,12,Roti veg combo,40,"0,1,2,3"
1756,2355,1048,2020-06-11 04:18:26,2020-06-11,Lunch,1,12,Roti veg combo,40,"0,1,2,3"
1757,2357,1027,2020-06-11 05:34:26,2020-06-11,Lunch,1,12,Roti veg combo,40,"0,1,2,3"
2318,2352,1008,2020-06-11 03:43:26,2020-06-11,Lunch,1,7,Fried rice,50,"0,1,2,3"
2404,2350,1022,2020-06-11 02:04:26,2020-06-11,Lunch,1,14,Veg curry,30,"1,3"

In [103]:
isUser = recData['user_id'] == 1042

In [104]:
print(recData[isUser])
print(recData[~isUser])

     order_id  user_id            timestamp  order_date order_category  \
299      2376     1042  2020-06-11 22:28:26  2020-06-12          Lunch
878      2225     1042  2020-06-05 08:06:26  2020-06-05          Lunch

     has_availed  item_id        item_name  price availability
299            1        2      Veg Biryani    100        1,3,4
878            1        0  Chicken Biryani    120        1,3,4
      order_id  user_id            timestamp  order_date order_category  \
276       2210     1007  2020-06-05 00:24:26  2020-06-05          Lunch
277       2212     1049  2020-06-05 01:44:26  2020-06-05          Lunch
278       2213     1048  2020-06-05 01:46:26  2020-06-05          Lunch
279       2215     1015  2020-06-05 03:32:26  2020-06-05          Lunch
280       2218     1012  2020-06-05 04:16:26  2020-06-05          Lunch
281       2219     1038  2020-06-05 05:19:26  2020-06-05          Lunch
282       2220     1047  2020-06-05 05:36:26  2020-06-05          Lunch
283       2221     1002  2020-06-05 05:39:26  2020-06-05          Lunch
290       2353     1019  2020-06-11 03:55:26  2020-06-11          Lunch
291       2360     1017  2020-06-11 15:47:26  2020-06-12          Lunch
292       2363     1027  2020-06-11 17:22:26  2020-06-12          Lunch
293       2365     1040  2020-06-11 17:44:26  2020-06-12          Lunch
294       2367     1002  2020-06-11 19:45:26  2020-06-12          Lunch
295       2369     1003  2020-06-11 21:03:26  2020-06-12          Lunch
296       2370     1023  2020-06-11 21:11:26  2020-06-12          Lunch
297       2372     1019  2020-06-11 21:15:26  2020-06-12          Lunch
298       2375     1029  2020-06-11 22:06:26  2020-06-12          Lunch
300       2377     1011  2020-06-11 23:06:26  2020-06-12          Lunch
588       2211     1037  2020-06-05 00:26:26  2020-06-05          Lunch
589       2216     1008  2020-06-05 03:47:26  2020-06-05          Lunch
590       2217     1005  2020-06-05 03:50:26  2020-06-05          Lunch
591       2224     1016  2020-06-05 07:44:26  2020-06-05          Lunch
592       2227     1050  2020-06-05 08:19:26  2020-06-05          Lunch
598       2351     1010  2020-06-11 03:03:26  2020-06-11          Lunch
599       2364     1021  2020-06-11 17:26:26  2020-06-12          Lunch
600       2366     1010  2020-06-11 18:11:26  2020-06-12          Lunch
601       2368     1034  2020-06-11 20:45:26  2020-06-12          Lunch
602       2371     1020  2020-06-11 21:14:26  2020-06-12          Lunch
875       2214     1029  2020-06-05 03:23:26  2020-06-05          Lunch
876       2222     1031  2020-06-05 06:08:26  2020-06-05          Lunch
877       2223     1043  2020-06-05 06:33:26  2020-06-05          Lunch
879       2226     1039  2020-06-05 08:15:26  2020-06-05          Lunch
880       2228     1019  2020-06-05 08:44:26  2020-06-05          Lunch
881       2229     1014  2020-06-05 08:47:26  2020-06-05          Lunch
885       2354     1014  2020-06-11 04:00:26  2020-06-11          Lunch
886       2356     1033  2020-06-11 04:42:26  2020-06-11          Lunch
887       2361     1025  2020-06-11 15:52:26  2020-06-12          Lunch
888       2362     1030  2020-06-11 16:14:26  2020-06-12          Lunch
889       2373     1037  2020-06-11 21:17:26  2020-06-12          Lunch
890       2374     1036  2020-06-11 21:18:26  2020-06-12          Lunch
891       2378     1031  2020-06-11 23:51:26  2020-06-12          Lunch
892       2379     1005  2020-06-11 23:55:26  2020-06-12          Lunch
1099      2358     1025  2020-06-11 05:57:26  2020-06-11          Lunch
1381      2347     1036  2020-06-11 00:14:26  2020-06-11          Lunch
1382      2359     1016  2020-06-11 07:31:26  2020-06-11          Lunch
1753      2346     1044  2020-06-11 00:09:26  2020-06-11          Lunch
1754      2348     1015  2020-06-11 00:30:26  2020-06-11          Lunch
1755      2349     1037  2020-06-11 00:52:26  2020-06-11          Lunch
1756      2355     1048  2020-06-11 04:18:26  2020-06-11          Lunch
1757      2357     1027  2020-06-11 05:34:26  2020-06-11          Lunch
2318      2352     1008  2020-06-11 03:43:26  2020-06-11          Lunch
2404      2350     1022  2020-06-11 02:04:26  2020-06-11          Lunch

      has_availed  item_id           item_name  price availability
276             1        2         Veg Biryani    100        1,3,4
277             1        2         Veg Biryani    100        1,3,4
278             1        2         Veg Biryani    100        1,3,4
279             1        2         Veg Biryani    100        1,3,4
280             1        2         Veg Biryani    100        1,3,4
281             1        2         Veg Biryani    100        1,3,4
282             1        2         Veg Biryani    100        1,3,4
283             1        2         Veg Biryani    100        1,3,4
290             1        2         Veg Biryani    100        1,3,4
291             1        2         Veg Biryani    100        1,3,4
292             1        2         Veg Biryani    100        1,3,4
293             1        2         Veg Biryani    100        1,3,4
294             1        2         Veg Biryani    100        1,3,4
295             1        2         Veg Biryani    100        1,3,4
296             1        2         Veg Biryani    100        1,3,4
297             1        2         Veg Biryani    100        1,3,4
298             1        2         Veg Biryani    100        1,3,4
300             1        2         Veg Biryani    100        1,3,4
588             1        1   Chicken fry combo    120        1,3,4
589             1        1   Chicken fry combo    120        1,3,4
590             1        1   Chicken fry combo    120        1,3,4
591             1        1   Chicken fry combo    120        1,3,4
592             1        1   Chicken fry combo    120        1,3,4
598             1        1   Chicken fry combo    120        1,3,4
599             1        1   Chicken fry combo    120        1,3,4
600             1        1   Chicken fry combo    120        1,3,4
601             1        1   Chicken fry combo    120        1,3,4
602             1        1   Chicken fry combo    120        1,3,4
875             1        0     Chicken Biryani    120        1,3,4
876             1        0     Chicken Biryani    120        1,3,4
877             1        0     Chicken Biryani    120        1,3,4
879             1        0     Chicken Biryani    120        1,3,4
880             1        0     Chicken Biryani    120        1,3,4
881             1        0     Chicken Biryani    120        1,3,4
885             1        0     Chicken Biryani    120        1,3,4
886             1        0     Chicken Biryani    120        1,3,4
887             1        0     Chicken Biryani    120        1,3,4
888             1        0     Chicken Biryani    120        1,3,4
889             1        0     Chicken Biryani    120        1,3,4
890             1        0     Chicken Biryani    120        1,3,4
891             1        0     Chicken Biryani    120        1,3,4
892             1        0     Chicken Biryani    120        1,3,4
1099            1        3          Meal combo     70      0,1,2,3
1381            1        4  Roti non-veg combo     70      0,1,2,3
1382            1        4  Roti non-veg combo     70      0,1,2,3
1753            1       12      Roti veg combo     40      0,1,2,3
1754            1       12      Roti veg combo     40      0,1,2,3
1755            1       12      Roti veg combo     40      0,1,2,3
1756            1       12      Roti veg combo     40      0,1,2,3
1757            1       12      Roti veg combo     40      0,1,2,3
2318            1        7          Fried rice     50      0,1,2,3
2404            1       14           Veg curry     30          1,3

In [105]:
items = recData[isUser]['item_id']
items

299    2
878    0
Name: item_id, dtype: int64

In [113]:
recData = recData[~isUser]
recData.shape

C:\Users\akash.achanta\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(52, 10)

In [117]:
compareUsers = recData[recData.item_id.isin(items)]['user_id']
compareUsers.shape

(32,)

In [135]:
recFoods = recData[recData['user_id'].isin(compareUsers)]

In [136]:
recItems = recFoods['item_id'].unique()

In [137]:
fooddata[fooddata.item_id.isin(recItems)].item_name

0        Chicken Biryani
1      Chicken fry combo
2            Veg Biryani
3             Meal combo
4     Roti non-veg combo
12        Roti veg combo
Name: item_name, dtype: object

In [147]:
recFoods.to_json()

'{"order_id":{"276":2210,"277":2212,"278":2213,"279":2215,"280":2218,"281":2219,"282":2220,"283":2221,"290":2353,"291":2360,"292":2363,"293":2365,"294":2367,"295":2369,"296":2370,"297":2372,"298":2375,"300":2377,"588":2211,"590":2217,"875":2214,"876":2222,"877":2223,"879":2226,"880":2228,"881":2229,"885":2354,"886":2356,"887":2361,"888":2362,"889":2373,"890":2374,"891":2378,"892":2379,"1099":2358,"1381":2347,"1754":2348,"1755":2349,"1756":2355,"1757":2357},"user_id":{"276":1007,"277":1049,"278":1048,"279":1015,"280":1012,"281":1038,"282":1047,"283":1002,"290":1019,"291":1017,"292":1027,"293":1040,"294":1002,"295":1003,"296":1023,"297":1019,"298":1029,"300":1011,"588":1037,"590":1005,"875":1029,"876":1031,"877":1043,"879":1039,"880":1019,"881":1014,"885":1014,"886":1033,"887":1025,"888":1030,"889":1037,"890":1036,"891":1031,"892":1005,"1099":1025,"1381":1036,"1754":1015,"1755":1037,"1756":1048,"1757":1027},"timestamp":{"276":"2020-06-05 00:24:26","277":"2020-06-05 01:44:26","278":"2020-06-05 01:46:26","279":"2020-06-05 03:32:26","280":"2020-06-05 04:16:26","281":"2020-06-05 05:19:26","282":"2020-06-05 05:36:26","283":"2020-06-05 05:39:26","290":"2020-06-11 03:55:26","291":"2020-06-11 15:47:26","292":"2020-06-11 17:22:26","293":"2020-06-11 17:44:26","294":"2020-06-11 19:45:26","295":"2020-06-11 21:03:26","296":"2020-06-11 21:11:26","297":"2020-06-11 21:15:26","298":"2020-06-11 22:06:26","300":"2020-06-11 23:06:26","588":"2020-06-05 00:26:26","590":"2020-06-05 03:50:26","875":"2020-06-05 03:23:26","876":"2020-06-05 06:08:26","877":"2020-06-05 06:33:26","879":"2020-06-05 08:15:26","880":"2020-06-05 08:44:26","881":"2020-06-05 08:47:26","885":"2020-06-11 04:00:26","886":"2020-06-11 04:42:26","887":"2020-06-11 15:52:26","888":"2020-06-11 16:14:26","889":"2020-06-11 21:17:26","890":"2020-06-11 21:18:26","891":"2020-06-11 23:51:26","892":"2020-06-11 23:55:26","1099":"2020-06-11 05:57:26","1381":"2020-06-11 00:14:26","1754":"2020-06-11 00:30:26","1755":"2020-06-11 00:52:26","1756":"2020-06-11 04:18:26","1757":"2020-06-11 05:34:26"},"order_date":{"276":"2020-06-05","277":"2020-06-05","278":"2020-06-05","279":"2020-06-05","280":"2020-06-05","281":"2020-06-05","282":"2020-06-05","283":"2020-06-05","290":"2020-06-11","291":"2020-06-12","292":"2020-06-12","293":"2020-06-12","294":"2020-06-12","295":"2020-06-12","296":"2020-06-12","297":"2020-06-12","298":"2020-06-12","300":"2020-06-12","588":"2020-06-05","590":"2020-06-05","875":"2020-06-05","876":"2020-06-05","877":"2020-06-05","879":"2020-06-05","880":"2020-06-05","881":"2020-06-05","885":"2020-06-11","886":"2020-06-11","887":"2020-06-12","888":"2020-06-12","889":"2020-06-12","890":"2020-06-12","891":"2020-06-12","892":"2020-06-12","1099":"2020-06-11","1381":"2020-06-11","1754":"2020-06-11","1755":"2020-06-11","1756":"2020-06-11","1757":"2020-06-11"},"order_category":{"276":"Lunch","277":"Lunch","278":"Lunch","279":"Lunch","280":"Lunch","281":"Lunch","282":"Lunch","283":"Lunch","290":"Lunch","291":"Lunch","292":"Lunch","293":"Lunch","294":"Lunch","295":"Lunch","296":"Lunch","297":"Lunch","298":"Lunch","300":"Lunch","588":"Lunch","590":"Lunch","875":"Lunch","876":"Lunch","877":"Lunch","879":"Lunch","880":"Lunch","881":"Lunch","885":"Lunch","886":"Lunch","887":"Lunch","888":"Lunch","889":"Lunch","890":"Lunch","891":"Lunch","892":"Lunch","1099":"Lunch","1381":"Lunch","1754":"Lunch","1755":"Lunch","1756":"Lunch","1757":"Lunch"},"has_availed":{"276":1,"277":1,"278":1,"279":1,"280":1,"281":1,"282":1,"283":1,"290":1,"291":1,"292":1,"293":1,"294":1,"295":1,"296":1,"297":1,"298":1,"300":1,"588":1,"590":1,"875":1,"876":1,"877":1,"879":1,"880":1,"881":1,"885":1,"886":1,"887":1,"888":1,"889":1,"890":1,"891":1,"892":1,"1099":1,"1381":1,"1754":1,"1755":1,"1756":1,"1757":1},"item_id":{"276":2,"277":2,"278":2,"279":2,"280":2,"281":2,"282":2,"283":2,"290":2,"291":2,"292":2,"293":2,"294":2,"295":2,"296":2,"297":2,"298":2,"300":2,"588":1,"590":1,"875":0,"876":0,"877":0,"879":0,"880":0,"881":0,"885":0,"886":0,"887":0,"888":0,"889":0,"890":0,"891":0,"892":0,"1099":3,"1381":4,"1754":12,"1755":12,"1756":12,"1757":12},"item_name":{"276":"Veg Biryani","277":"Veg Biryani","278":"Veg Biryani","279":"Veg Biryani","280":"Veg Biryani","281":"Veg Biryani","282":"Veg Biryani","283":"Veg Biryani","290":"Veg Biryani","291":"Veg Biryani","292":"Veg Biryani","293":"Veg Biryani","294":"Veg Biryani","295":"Veg Biryani","296":"Veg Biryani","297":"Veg Biryani","298":"Veg Biryani","300":"Veg Biryani","588":"Chicken fry combo","590":"Chicken fry combo","875":"Chicken Biryani","876":"Chicken Biryani","877":"Chicken Biryani","879":"Chicken Biryani","880":"Chicken Biryani","881":"Chicken Biryani","885":"Chicken Biryani","886":"Chicken Biryani","887":"Chicken Biryani","888":"Chicken Biryani","889":"Chicken Biryani","890":"Chicken Biryani","891":"Chicken Biryani","892":"Chicken Biryani","1099":"Meal combo","1381":"Roti non-veg combo","1754":"Roti veg combo","1755":"Roti veg combo","1756":"Roti veg combo","1757":"Roti veg combo"},"price":{"276":100,"277":100,"278":100,"279":100,"280":100,"281":100,"282":100,"283":100,"290":100,"291":100,"292":100,"293":100,"294":100,"295":100,"296":100,"297":100,"298":100,"300":100,"588":120,"590":120,"875":120,"876":120,"877":120,"879":120,"880":120,"881":120,"885":120,"886":120,"887":120,"888":120,"889":120,"890":120,"891":120,"892":120,"1099":70,"1381":70,"1754":40,"1755":40,"1756":40,"1757":40},"availability":{"276":"1,3,4","277":"1,3,4","278":"1,3,4","279":"1,3,4","280":"1,3,4","281":"1,3,4","282":"1,3,4","283":"1,3,4","290":"1,3,4","291":"1,3,4","292":"1,3,4","293":"1,3,4","294":"1,3,4","295":"1,3,4","296":"1,3,4","297":"1,3,4","298":"1,3,4","300":"1,3,4","588":"1,3,4","590":"1,3,4","875":"1,3,4","876":"1,3,4","877":"1,3,4","879":"1,3,4","880":"1,3,4","881":"1,3,4","885":"1,3,4","886":"1,3,4","887":"1,3,4","888":"1,3,4","889":"1,3,4","890":"1,3,4","891":"1,3,4","892":"1,3,4","1099":"0,1,2,3","1381":"0,1,2,3","1754":"0,1,2,3","1755":"0,1,2,3","1756":"0,1,2,3","1757":"0,1,2,3"}}'

In [11]:
fooddata['availability']

0       1,3,4
1       1,3,4
2       1,3,4
3     0,1,2,3
4     0,1,2,3
5     0,1,2,3
6         0,2
7     0,1,2,3
8         0,2
9         0,2
10        0,2
11        0,2
12    0,1,2,3
13        0,2
14        1,3
Name: availability, dtype: object

In [16]:
fooddata[fooddata['availability'].str.contains('|'.join(["3"]))]

    item_id           item_name  price availability
0         0     Chicken Biryani    120        1,3,4
1         1   Chicken fry combo    120        1,3,4
2         2         Veg Biryani    100        1,3,4
3         3          Meal combo     70      0,1,2,3
4         4  Roti non-veg combo     70      0,1,2,3
5         5       Chicken curry     60      0,1,2,3
7         7          Fried rice     50      0,1,2,3
12       12      Roti veg combo     40      0,1,2,3
14       14           Veg curry     30          1,3

In [19]:
week_ago.weekday()

1

In [20]:
test = today - DT.timedelta(days=2)

In [21]:
test.weekday()

6

In [26]:
pd.read_csv("orders.csv")

,order_id,user_id,timestamp,order_date,order_category,has_availed,item_id,rating,feedback,sentiment
0,0,1035,2020-03-05 15:20:26,2020-03-06,Lunch,1,2,3.0,Tasty food,neutral
1,1,1028,2020-03-05 15:42:26,2020-03-06,Lunch,1,1,3.0,"Paneer curry was much better than last time , ...",neutral
2,2,1023,2020-03-05 15:43:26,2020-03-06,Lunch,1,2,3.0,Homely food.. Loved it...!!,positive
3,3,1025,2020-03-05 16:10:26,2020-03-06,Lunch,1,0,2.0,Raitha served with biryani is watery.,neutral
4,4,1033,2020-03-05 18:03:26,2020-03-06,Lunch,1,2,3.0,Everything tasted amazing,positive
...,...,...,...,...,...,...,...,...,...,...
3042,637,1028,2020-06-12 13:03:26,2020-06-12,Dinner,1,12,3.0,Chicken pieces in biryani are yummy and tasty,neutral
3043,638,1002,2020-06-12 13:14:26,2020-06-12,Dinner,1,3,NaN,NaN,NaN
3044,639,1041,2020-06-12 14:53:26,2020-06-12,Dinner,1,3,NaN,NaN,NaN
3045,640,1038,2020-06-12 15:04:26,2020-06-12,Dinner,1,3,3.0,Foods smelled so tempting and taste is equally...,neutral
3046,641,1001,2020-06-12 15:07:26,2020-06-12,Dinner,1,3,3.0,Food is good,negative